# Python
__pycache__/
*.py[cod]
.venv/
.env
.ipynb_checkpoints/

# Ignore the specific root output folder if you use it
/checkpoints/
/outputs/

# Data (This will be tracked with DVC)
/data/
!data/.gitkeep

# Experiment Logs
logs/
outputs/
wanda/
.hydra/
tensorboard_logs/

# Machine Learning Artifacts
*.zip        # Stable-Baselines3 models
*.pth        # PyTorch models
*.h5         # Keras models
*.pkl        # Pickle files

# IDE
.vscode/
.idea/
